.
{
    background-color: black;
}
.foto{
    text-align: center;
    transition: margin-right 3s ;
    box-sizing: border-box;
    border: 6px;
}
.titulo{
    text-align: center;
    color: rgb(255, 255, 255);
}
.titulo2{
    text-align: center;
    color: white;
}
.titulo3{
    text-align: center;
    color: rgb(255, 255, 255);
}
.sobre-mim{
    text-align: center;
    color: rgb(255, 255, 255);
}
