body{
    background-color: black;
}

.Interesses{
    text-align: center;
    color: 	#8B0000;
}
.curiosidades{
    text-align: center;
   color: hsl(0, 100%, 27%);
}
.sobre-mim{
    text-align: center;
    color: #696969;
}
.titulo{
    text-align: center;
    color:#696969;
}
.titulo2{
    text-align: center;
    color: #696969;
}
.biografia{
    text-align: center;
    color: #8B0000;
    
}
.foto{
    display: block;
    margin-left: 845px;
    transition: margin-right 3s;
    box-sizing: border-box;
    border: 6px;
}
.titulo3{
    text-align: center;
    color: #696969;
}
.item{
    text-align: center;
    color: #8B0000;
}
.item2{
    text-align: center;
    color: #B22222;
}
.link{
    text-align: center;
    color: #B22222;
}
.img{
    text-align: left;
    width: 3%;
}
.instagram{
    color: #696969;
}
