body{
    background-color: black;
}

.Interesses{
    text-align: center;
    color: 	#8B0000;
}
.curiosidades{
    text-align: center;
   color: #8B0000;
}
.sobre-mim{
    text-align: center;
    color: #A9A9A9;
}
.titulo{
    text-align: center;
    color:#A9A9A9;
}
.titulo2{
    text-align: center;
    color: #A9A9A9;
}
.biografia{
    text-align: center;
    color: #8B0000;
}
.foto{
    display: block;
    margin-left: 845px;
    transition: margin-right 3s;
    box-sizing: border-box;
    border: 6px;
}
.titulo3{
    text-align: center;
    color: #A9A9A9;
}
